<div class="field">
  <h2>Battlefield</h2>
  <div class="field__units">
    <section class="field__units__section field__units__section--heroes">
      <h3 id="field__units__section__title--heroes" class="visually-hidden">
        Heroes
      </h3>
      <ol
        aria-labelledby="field__units__section__title--heroes"
        class="field__units__section__list field__units__section__list--heroes"
      >
        <ng-template
          ngFor
          let-hero
          [ngForOf]="battleService.heroes"
          let-i="index"
        >
          <ng-template [ngIf]="hero !== null">
            <li
              class="
                field__units__section__list__unit
                field__units__section__list__unit--hero
              "
            >
              <p>Position {{ i }}</p>
              <app-hero-profile [hero]="hero"></app-hero-profile>
            </li>
          </ng-template>
        </ng-template>
      </ol>
    </section>
    <section class="field__units__section field__units__section--enemies">
      <h3 id="field__units__section__title--enemies" class="visually-hidden">
        Enemies
      </h3>
      <ul
        aria-labelledby="field__units__section__title--enemies"
        class="field__units__section__list field__units__section__list--enemies"
      ></ul>
    </section>
  </div>
</div>
