<div class="field">
  <h2>Battlefield</h2>
  <div class="field__units">
    <section class="field__units__section field__units__section--heroes">
      <h3
        id="field__units__section__title--heroes"
        class="
          field__units__section__title field__units__section__title--heroes
        "
      >
        Heroes
      </h3>
      <div
        id="hero-tab-list"
        role="tablist"
        aria-labelledby="field__units__section__title--heroes"
      >
        <button role="tab"></button>
      </div>
      <!-- <h3 id="field__units__section__title--heroes" class="visually-hidden">
        Heroes
      </h3>
      <div
        aria-labelledby="field__units__section__title--heroes"
        class="field__units__section__list field__units__section__list--heroes"
      >
        <ng-template
          ngFor
          let-hero
          [ngForOf]="battleService.heroes"
          let-i="index"
        >
          <li
            class="
              field__units__section__list__unit
              field__units__section__list__unit--hero
            "
          >
            <p>Position {{battleService.getHeroPosition(hero)}}</p>
            <app-hero-profile [hero]="hero"></app-hero-profile>
          </li>
        </ng-template>
      </ol> -->
    </section>
    <section class="field__units__section field__units__section--enemies">
      <h3 id="field__units__section__title--enemies" class="visually-hidden">
        Enemies
      </h3>
      <ul
        aria-labelledby="field__units__section__title--enemies"
        class="field__units__section__list field__units__section__list--enemies"
      ></ul>
    </section>
  </div>
</div>
