<div class="field">
  <h2>Battlefield</h2>
  <div class="field__units">
    <section class="field__units__section field__units__section--heroes">
      <app-hero-tablist></app-hero-tablist>
      
    </section>
    <section class="field__units__section field__units__section--enemies">
      <h3 id="field__units__section__title--enemies" class="visually-hidden">
        Enemies
      </h3>
      <ul
        aria-labelledby="field__units__section__title--enemies"
        class="field__units__section__list field__units__section__list--enemies"
      ></ul>
    </section>
  </div>
</div>
